


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Plan </title>
</head>
<body style="font-family: sans-serif; text-align: center; padding-top: 50px;">
    <h2>Plan personalizado </h2>
    <p>Precio: $4.99 USD</p>
    <form action="/create-checkout-session" method="POST">
      <button type="submit"
        style="padding: 10px 20px; background-color: #8a2be2; color: white; border: none; font-size: 16px; border-radius: 8px; cursor: pointer;">
        Pagar con tarjeta (Stripe)
      </button>
    </form>
</body>
</html>
