<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecstasy - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="background"><div class="overlay"></div>
    <div class="content animated">
      <img src="{{ url_for('static', filename='assets/logo_white.png') }}" class="logo pulse" alt="Logo">
      <h1>Bienvenido a Ecstasy</h1>
      <p>Educación sexual como nunca la habías vivido</p>
      <a href="{{ url_for('login') }}" class="google-btn zoom-hover">
        <img src="{{ url_for('static', filename='assets/google_g.png') }}" alt="GoogleIcon"> Iniciar sesión con Google
      </a>
    </div>
  </div>
</body>
</html>